/* General */

body {
    background-color: lightgrey;
    position: relative;
    justify-content: center;
    display: flex;   
}
img {
    margin:auto;
    width:310px;
    display:block;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 1.4em;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0.5em;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    letter-spacing: 0.2em;
}

.pointer {
    cursor: pointer;}

/* Fonts* /

/* CLASS */

/*Outside Frame Center*/

.outsideFrame {
    width: 42em;
    height: 27em;
    /*align-items: center;*/
    background-color: rgb(211, 208, 208);
    /*position: absolute;*/
    /*justify-content: center;*/
    display: flex; 
    /*flex-direction: row;*/
    box-shadow: -1px 1px 3px #333;
    border-top: 0.2em solid rgb(204, 203, 201);
    border-bottom: 0.3em solid rgb(77, 75, 72);
    border-right: 0.2em solid rgb(172, 171, 170);
    border-left: 0.2em solid rgb(170, 169, 167);
    border-bottom-left-radius:  0.7em;
    border-bottom-right-radius:  0.7em;
    
}

.outsideFrameCenter {
    height: 27em;
    width: 22em;
}

.outsideFrameRight {
    height: 27em;
    width: 10em;
    background-color: #e88b55;
    border-bottom-right-radius:  0.5em 0.5em;
  
}

.blank {
    height: 2em;
    /*width: 22em;*/
    background-color: #e88b55;
}

.upLine {
    height: 2em;
    /*width: 22em;*/
    background-color: #e88b55;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.screenInside {
    height: 13em;
    /*width: 22em;*/
    background-color: #e88b55;
    display: flex; 
    align-items: center;
    justify-content: center;
}

/*.screen {
    display: flex; 
    align-items: center;
    justify-content: center; 
}*/

.logo {
    height: 5em;
    width: 22em;
    background-color: #e88b55;
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.cutOut { 
    height: 3em;
    /*width: 22em;*/
    background-color: #e88b55;
    /*display: flex; 
    align-items: center;
    justify-content: center; 
    position:relative;*/
}

.cutOutColumns {
    /*height: 2em;*/
    width: 22em;
    display: flex; 
    align-items: center;
    justify-content:flex-end;
    flex-direction: column;
    /*background-color: #e88b55;*/
    position:absolute;
    bottom:0px;
}

.cut {
    height: 1em;
    width: 7em;
    background-color: rgb(211, 208, 208);
    
    border-style: inset;
    border-width: 0.1em;
    border-top: 0.3em solid #ce734a;
    border-left: 0.2em solid #ce734a;
    border-right: 0.2em solid #ce734a;
    border-bottom: 0.1em solid lightgray; 
}

.logoBox {
    height: 1.95em;
    width: 10em;
    border-style: inset;
    border-width: 0.1em;
    border-color: black;
    display: flex; 
    justify-content: center;
    box-shadow: 1px 1px 4px #5a5a5a, 1px 1px 4px #ccc inset, -1px -1px 4px #5a5a5a, -1px -1px 3px #ccc inset;
    border-radius: 130px 130px 130px 130px; 
    overflow: hidden;
}

.upLineBox {
    height: 0.3em;
    width: 20em;
    margin-bottom: 2em;
    background-color: #ce734a;
    border-style: inset;
    border-color: rgb(153, 84, 6) rgb(192, 127, 7) rgb(196, 130, 33) rgb(172, 106, 8);
}

.screenBorderOrange { 
    height: 12.8em;
    width: 20em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    border-style: inset;
    border-width: 0.3em;
    border-color: rgb(189, 103, 4) rgb(192, 127, 7) rgb(196, 130, 33) rgb(172, 106, 8);
    display: flex; 
    align-items: center;
}

.screenBorderBlack {

    border-radius: 0.3em 0.3em 0.3em 0.3em;
    border-style: inset;
    border-width: 0.3em;
    border-color: black;
}

/*Outside Frame Left*/

.outsideFrameLeft {
    height: 27em;
    width: 10em;
    background-color: #e88b55;
    border-bottom-left-radius:  0.5em 0.5em; 
}

.frameLogoGW {
    height: 12em;
    width: 8em;
    border-top-right-radius:  0.5em 0.5em; 
    border-top-left-radius:  0.5em 0.5em; 
    margin-top: 1em;
    margin-left: 1em;
    border-style: inset;
    border-width: 0.3em;
    border-color: rgb(189, 103, 4) rgb(192, 127, 7) rgb(196, 130, 33) rgb(172, 106, 8);
    border-bottom:    1em;
}

.frameControl {
    height: 12em;
    width: 8em;
    border-bottom-right-radius:  0.5em 0.5em; 
    border-bottom-left-radius:  0.5em 0.5em; 
    margin-bottom: 1em;
    margin-left: 1em;
    border-style: inset;
    border-width: 0.3em;
    border-color: rgb(189, 103, 4) rgb(192, 127, 7) rgb(196, 130, 33) rgb(172, 106, 8);
    border-top:    1em;
}

.logoGW {
    width: 7.5em;
    height: 7em;
    display: flex; 
    margin-top: 2em;
    margin-left: 0.4em;
 }

.outsideBorderW {
    height: 12em;
    width: 8em;
    background-color: #f6f3e7;
    justify-content: center;
    display: flex; 
    align-items: center;
}

.outsideBorderO {
    height: 11em;
    width: 6.9em;
    border-style: solid;
    border-width: 0.2em;
    border-color:  rgb(196, 130, 33);
    justify-content: center;
    display: flex; 
}

.controlBackGW {
    text-align: center;
}


 .controlSquare {
    height: 6em;
    width: 6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f6f3e7;
    margin-top: 2em;
 }

.buttonL {
    height: 2em;
    width: 2em;
    background: #313030;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: -1px 1px 3px #333;
    border-radius: 3px;
    border-top: 0.2em solid rgb(196, 130, 33);
    border-bottom: 0.2em solid rgb(196, 130, 33);
    border-left: 0.2em solid rgb(196, 130, 33);
    }

.buttonTCB {
    height: 6em;
    width: 2em;
    background: #313030;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -1px 1px 3px #333;
    border: 2px solid #333;
    border-radius: 3px;
    border-top: 0.2em solid rgb(196, 130, 33);
    border-bottom: 0.2em solid rgb(196, 130, 33);
    border-right: 0.2em solid rgb(196, 130, 33);
    border-left: 0.2em solid rgb(196, 130, 33);
    justify-content: center;
    align-items: center;
}

.buttonR {
    height: 2em;
    width: 2em;
    background: #313030;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: -1px 1px 3px #333;
    border-radius: 3px;
    border-top: 0.2em solid rgb(196, 130, 33);
    border-bottom: 0.2em solid rgb(196, 130, 33);
    border-right: 0.2em solid rgb(196, 130, 33);
}

.squareCircle {
    width: 2.12em;
    height: 2.12em;
    border-radius: 10%;
    background: #5A5A5A;
    align-items: center;
    position: absolute;
    z-index: 999999;
    box-shadow: inset 0px 0px 10px #1f1f1f;
    justify-content: center;
    align-items: center;
    display: flex;
}

.circleM {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #5A5A5A;
    align-items: center;
    position: absolute;
    z-index: 999999;
    box-shadow: inset 0px 0px 10px #1f1f1f;
}

.circleM:hover {opacity: 0.5}

.arrowUp {
    margin-top: 5em;
    width: 0;
    height: 0;
    border-left: 1em solid rgb(80, 82, 82);
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    transform: rotate(-90deg);
}

.arrowUp:hover {opacity: 0.5}

.arrowLeft {
    margin-left: 0.34em;
    border-left: 1em solid rgb(80, 82, 82);
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    box-shadow: inset 0px 0px 10px #8d8989;
    transform: rotate(-180deg);
}

.arrowLeft:hover {opacity: 0.5}

.arrowRight { 
    margin-right: .4em;
    width: 0;
    height: 0;
    border-left: 1em solid rgb(80, 82, 82);
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
}

.arrowRight:hover {opacity: 0.5}

.arrowDown {
    margin-bottom: 5em;
    margin-top: 48px;
    width: 0;
    height: 0;
    border-left: 1em solid rgb(80, 82, 82);
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    transform: rotate(90deg);
}

.arrowDown:hover {opacity: 0.5}

/*Outside Frame Left*/


.frameGamesAB {
    height: 12em;
    width: 8em;
    border-top-right-radius:  0.5em 0.5em; 
    border-top-left-radius:  0.5em 0.5em; 
    margin-top: 1em;
    margin-left: 0.5em;
    border-style: inset;
    border-width: 0.3em;
    border-color: rgb(189, 103, 4) rgb(192, 127, 7) rgb(196, 130, 33) rgb(172, 106, 8);
    border-bottom:    1em;
    display: flex; 
    text-align: center;
}   

.columnBlank { 
    height: 12em;
    width: 1em;
    background-color: #e88b55;
}

.columnGameAB { 
    height: 12em;
    width: 3em;
    background-color: #e88b55;
}

.columnAlarm {
    height: 12em;
    width: 3em;
}

.gameABT {
    width: 1.5em;
    height: 0.9em;    
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background: #999;
    box-shadow: inset 0 -3px 2px rgb(0 0 0 / 40%);
    border-bottom-right-radius:  0.5em; 
    border-bottom-left-radius:  0.5em; 
    border-top-left-radius:  0.5em; 
    border-top-right-radius:  0.5em; 
    border-style: inset;
    border-color: rgb(51, 51, 50) rgb(134, 94, 53) rgb(99, 88, 58) rgb(94, 65, 22);
}

.gameABT:hover {opacity: 0.4}

.rowBlank {
    margin: -1.5em;
}

.alarmAlt {
    width: 0.625em;
    height: 0.625em;
    margin-top: 3.7em;
    margin-bottom: -0.3em;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #333;
    border-bottom: 1px solid #fff;
    background: #fff;
    border-radius: 5px;
    box-shadow: inset 0 4px 6px rgb(0 0 0 / 50%);
}

.alarmAlt:hover {opacity: 0.4}

.frameCircleBotom {
    height: 12em;
    width: 8em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    border-bottom-right-radius:  0.5em 0.5em; 
    border-bottom-left-radius:  0.5em 0.5em; 
    border-style: inset;
    border-width: 0.3em;
    border-color: rgb(189, 103, 4) rgb(192, 127, 7) rgb(196, 130, 33) rgb(172, 106, 8);
    border-top:    1em;
}

.divBlank {
    height: 2em;
}

.textStart {
    height: 1.5em;
    width: 5em;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-style: inset;
    border-width: 0.1em;
    border-color: grey;
    padding-top: 4.3px;
    letter-spacing: 0.2em;
}

.controlCircle {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
    background: #313030;
    box-shadow: -1px 1px 3px #333;
    border-top: 0.2em solid rgb(196, 130, 33);
    border-bottom: 0.2em solid rgb(196, 130, 33);
    border-right: 0.2em solid rgb(196, 130, 33);
    border-left: 0.2em solid rgb(196, 130, 33);
}

.controlCircle:hover {opacity: 0.7}