/* General */
img {
    margin:auto;
    width:310px;
    display:block;
}

/* Fonts* /

/* CLASS */

/*Outside Frame Center*/

.outsideFrame {
    width: 100vw;
    height: 100vh;
    align-items: center;
    /*overflow: hidden;*/
    background-color: rgb(211, 208, 208);
    position: absolute;
    justify-content: center;
    display: flex; 
    flex-direction: row;   
}



.outsideFrameCenter {
    height: 30em;
    width: 22em;
    background-color: yellow;    
}

.outsideFrameRight {
    height: 30em;
    width: 10em;
    background-color: #e88b55;
    border-bottom-right-radius:  0.5em 0.5em;
  
}

.blank {
    height: 2em;
    width: 22em;
    background-color: #e88b55;
}

.upLine {
    height: 2em;
    width: 22em;
    background-color: #e88b55;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.screenInside {
    height: 16em;
    width: 22em;
    background-color: #e88b55;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.screen {
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.logo {
    height: 5em;
    width: 22em;
    background-color: #e88b55;
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.cutOut { 
    height: 3em;
    width: 22em;
    background-color: #e88b55;
    display: flex; 
    align-items: center;
    justify-content: center; 
    position:relative;
}

.cutOutColumns {
    height: 2em;
    width: 22em;
    display: flex; 
    align-items: center;
    justify-content:flex-end;
    flex-direction: column;
    background-color: #e88b55;
    position:absolute;
    bottom:0px;
}

.cut {
    height: 1em;
    width: 7em;
    background-color: rgb(211, 208, 208);
}

.logoBox {
    height: 1.8em;
    width: 10em;
    background-color: transparent;
    /*border-radius: 0.3em 0.3em 0.3em 0.3em;*/
    border-style: inset;
    border-width: 0.3em;
    border-color: black;
    display: flex; 
    align-items: center;
    justify-content: center;
    /*border-radius: 20%;*/
    box-shadow: 3px 3px 7px #333,
    5px 5px 7px #ccc inset,
    -3px -3px 7px #333,
    -5px -5px 7px #ccc inset;
    /*border: #f2021a solid 25px;*/
    border-radius: 130px 130px 130px 130px; 
}

.upLineBox {
    height: 0.3em;
    width: 20em;
    background-color: #ce734a;
    border-style: inset;
    border-color: rgb(153, 84, 6) rgb(192, 127, 7) rgb(196, 130, 33) rgb(172, 106, 8);
}

.screenBorderOrange { 
    height: 12.8em;
    width: 20em;
    background-color: grey;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    border-style: inset;
    border-width: 0.3em;
    border-color: rgb(189, 103, 4) rgb(192, 127, 7) rgb(196, 130, 33) rgb(172, 106, 8);
    display: flex; 
    align-items: center;
    justify-content: center;
}

.screenBorderBlack {

    height: 12.3em;
    width: 19.8em;
    background-color: grey;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    border-style: inset;
    border-width: 0.3em;
    border-color: black;
    display: flex; 
    align-items: center;
    justify-content: center;
}

/*Outside Frame Left*/

.outsideFrameLeft {
    height: 30em;
    width: 10em;
    background-color: #e88b55;
    border-bottom-left-radius:  0.5em 0.5em; 
    justify-content: center;
    /*display: flex; */
    flex-direction: row; 

}

.frameLogoGW {
    height: 14em;
    width: 8em;
    background-color: green;
    border-top-right-radius:  0.5em 0.5em; 
    border-top-left-radius:  0.5em 0.5em; 
    margin-top: 1em;
    margin-left: 1em;
    border-style: inset;
    border-width: 0.3em;
    border-color: rgb(189, 103, 4) rgb(192, 127, 7) rgb(196, 130, 33) rgb(172, 106, 8);
    border-bottom:    1em;
    justify-content: center;
    display: flex; 
    flex-direction: row; 
    
}

.frameControl {
    height: 14em;
    width: 8em;
    background-color: yellow;
    border-bottom-right-radius:  0.5em 0.5em; 
    border-bottom-left-radius:  0.5em 0.5em; 
    margin-bottom: 1em;
    margin-left: 1em;
    border-style: inset;
    border-width: 0.3em;
    border-color: rgb(189, 103, 4) rgb(192, 127, 7) rgb(196, 130, 33) rgb(172, 106, 8);
    border-top:    1em;
  
}

.logoGW {

    width: 7.5em;
    height: 4em;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: violet;
  }